*{
    margin: 0;
}

/* header section  */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 120px;
    background-color: transparent;
}

header img{
    width: 150px;
}

header a{
    text-decoration: none;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 700;
    font-family: sans-serif;

}
/* banner section  */
.banner{
    background-image: url("./hero-bg.jpg");
    margin-top: -150px;
    height: 120vh;
    /* background-color: black; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.667);
    height: 120vh;
    width: 100%;
    /* padding-top: 80px ; */

}

.banner-content h1,.banner-content h3,.banner-content p{
    margin-bottom: 15px;
    text-align: center;
}

.email-form{
    display: flex;
    justify-content: center;
}

.button-color{
    background-color: red;
    border-color: red;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    padding: 10px 20px;
}

.email-box{
    padding: 10px 120px 10px 5px;
    
}

.section-title{
    color: white;
    background-color: black;
    padding: 25px 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: left;
}

.content-section{
    display: flex;
    gap: 40px;
    background-color: black;
    padding: 0px 100px;
    
}

.content-section img{
border-radius: 12px;
height: 250px;
width: 200x;

}

.reasons{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}


.reasons-container{
    display: flex;
    gap:20px;
    padding: 0px 100px;
    /* margin: 10px 100px; */
    background-color: black;
}
/* cards  */
.card {
    /* background:linear-gradient(to bottom, #1f2248, #241423); */
    background-color: #1f2248;
    border-radius: 20px;
    padding: 30px 25px;
    width: 260px;
    height: 280px;
    color: white;
}

.card h3{
    margin-bottom: 20px;
    font-size: 25px;
}


.questions{
    /* background-color: black; */
    /* color: white; */
    gap:20px;
    /* padding: 0px 100px;  */
}

.box1{
    background-color: #2d2d2d;
    color: white;
    padding: 25px 35px 20px 20px;
    /* margin-bottom: 10px;      Space between boxes */
    display: flex;
    /* justify-content: space-between;     */
    /* align-items: center; */
    font-size: 24px;
    margin: 9px 100px;

}

.paragraph{
    color: white;
    display: flex;
    justify-content: center;
    margin:70px 0px 15px 0px;
    background-color: black;
}
footer{
    /* display: flex; */
    background-color: black;
    color: white;
    padding: 80px 150px;
}

.link-wrapper{
    display: flex;
    justify-content: space-between;
    padding:40px 0px;
    /* padding-left: 0px; */
}
footer a{
    color:  rgba(255, 255, 255, 0.754);
    text-decoration: underline;
    line-height: 35px;
}

footer ul{
    list-style: none;
    padding: 0;
}

.footer-bottom button{
 background-color: #0F0F0F;
 color: white;
 border: 1px solid rgba(255, 255, 255, 0.754);
 border-radius: 5px;
 padding: 5px 8px;
}

.footer-bottom p{
    margin-top: 20px;
    color:  rgba(255, 255, 255, 0.754);

}